<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <meta name="description" content="Ligature's website">
  <meta name="author" content="Alex Michael Berry">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/svg+xml" href="/assets/logo.svg">
  <link rel="mask-icon" href="/assets/logo.svg" color="#ffffff">
  <link rel="stylesheet" href="/assets/main.css" />
  <link rel="stylesheet" href="/js/components.css" />
</head>

<body>
  <div>
    <div class="header">
      <a href="/"><img src="/assets/logo.svg" alt="an image of a knot" height="120" width="120"/></a>
      <div>
        <h1 class="title"><a href="/">Ligature</a></h1>
        <h2 class="subtitle"><a href="/">A Libre Knowledge<br/>Representation Toolkit</a></h2>
      </div>
    </div>
		{{content}}
  </div>
  <div>
    <a href="/">Home</a>
  </div>
  <script src="/js/components.js"></script>
</body>
</html>
