---
import { Markdown } from 'astro/components'
import Main from '../../layouts/Main.astro'
const content = await fetch('https://raw.githubusercontent.com/almibe/ligature-documentation/main/ligature.md').then(res => res.text())
---

<Main title="Ligature Data Model">
    <Markdown content={content} />
</Main>
