---
import SubPage from "../../layouts/SubPage.astro"

const blogs = Astro.fetchContent("../blog/entries/*.md").sort((b1, b2) => {
  if (b1.date < b2.date) {
    return 1
  } else if (b1.date > b2.date) {
    return -1
  } else {
    return 0
  }
})
---
<SubPage title="Ligature">
  <h3>Blog</h3>

  <ul>
    {blogs.sort().reverse().map((post) => (
      <li>
        <a href={post.url}>{post.title}</a>
      </li>
    ))}
  </ul>
</SubPage>
