---
//title: 'Ligature'
import Layout from '../layouts/Main.astro';
const posts = await Astro.glob('../pages/blog/entries/*.md');
---
<Layout title="Ligature">
  <h3>What is Ligature?</h3>

  <p>Ligature is a libre (free and open source, MPL-2.0 licensed) knowledge graph that focuses on pragmatism, portability, and simplicity.
  It is currently under heavy design and development, and not ready for real world use, but experimentation and feedback are encouraged and much welcomed.</p>
  
  <p>Below are some resources to see where things are.</p>
  
  <h3>Documentation</h3>
  

  <!--
  <ul>
    {% for doc in documentation %}
      <li>
        <a href="/documentation/{{doc.title | slug}}">{{doc.title}}</a> - {{doc.description}}
      </li>
    {% endfor %}
  </ul>
   -->
  
  <h3>Development Blog</h3>

  <ul>
    {posts.reverse().slice(0,6).map((post) => (
      <li>{post.frontmatter.date.split("T")[0]} - <a href={post.url}>{post.frontmatter.title}</a></li>
    ))}
  </ul>

  <a href="/blog/">See more.</a>
  
  <h3>Case Studies</h3>
  
  <p>
    Ligature is designed around usage.
    To help with this several case studies have been singled out.
  </p>
  
  <ul>
    <li><a href="/case-studies/personal-notetaking/">Personal Notetaking</a> - </li>
    <li>Encoding Pathfinder</li>
    <li>Homosaurus</li>
  </ul>
  
  <h3>Code Repositories</h3>
  
  <p>Work on Ligature is spread out over a number of git repositories.
  Below is a list of them.</p>
  
  <ul>
    <li><a href="https://github.com/almibe/ligature-documentation">Ligature Documentation</a> - the documentation for the Ligature project.</li>
    <li><a href="https://github.com/almibe/ligature.dev">ligature.dev</a> - this website!</li>
    <li><a href="https://github.com/almibe/ligature-scala">Ligature Scala</a> - an implementation of Ligature written in Scala for the JVM and JS ecosystems.</li>
    <li><a href="https://github.com/almibe/ligature-rs">Ligature Rust</a> - an implementation of Ligature written in Rust.</li>
    <li><a href="https://github.com/almibe/ligature-components">Ligature Components</a> - SolidJS UI components that support working with Ligature.</li>
    <li><a href="https://github.com/almibe/ligature-pad">Ligature Pad</a> - A desktop application based on Tauri for working with Ligature.</li>
  </ul>
  
  <h3>Attribution</h3>
  
  <p>Ligature builds on the work of many other projects.
  The <a href="attribution">attribution</a> page is a non-complete collection of many of the projects Ligature depends on with links to learn more about them.</p>  
</Layout>
