@font-face {
    font-family: 'Comfortaa';
    src: url('font/Comfortaa-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Raleway';
    src: url('font/Raleway-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'SourceCodePro';
    src: url('font/SourceCodePro-VariableFont_wght.ttf');
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Comfortaa';
}

p, div {
    font-family: 'Raleway';
}

#content {
    padding: 3em;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header h1 {
    margin-bottom: .2em;
}
  
.header h2 {
    margin-top: .2em;
}

ul {
    list-style-type: circle;
}

li {
    margin: .25em;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0 auto;
    display: block;
}

blockquote {
    background-color: #F0F0F0;
    padding: 1em;
    border-radius: .75em;
}

#demo {
    display: grid;
	align-items: center;
}

#demo-markup {
    grid-column: 1;
    grid-row: 1
}

#demo-graph {
    width: 600px;
    height: 400px;
    grid-column: 2;
    grid-row: 1;
}

/* split grid */
#split-panel {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 300px 10px 1fr;
  }
  
  .gutter {
    grid-row: 1/-1;
    cursor: col-resize;
    grid-column: 2;
  }
  
  .gutter {
    z-index:1;
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
  }
  
  .gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
  }
  
  #resource-panel {
    z-index:0;
  }
  
  #content-panel {
    z-index:1; 
    background: #FFF
  }