@font-face {
    font-family: 'Comfortaa';
    src: url('font/Comfortaa-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Raleway';
    src: url('font/Raleway-VariableFont_wght.ttf');
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Comfortaa';
}

p, div {
    font-family: 'Raleway';
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header h1 {
    margin-bottom: .2em;
}
  
.header h2 {
    margin-top: .2em;
}

ul {
    list-style-type: circle;
}

li {
    margin: .25em;
}

body {
    width: 100%;
    margin: 0 auto;
    display: block;
    max-width: 1000px;
}
