@font-face {
    font-family: 'Comfortaa';
    src: url('font/Comfortaa-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Raleway';
    src: url('font/Raleway-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'SourceCodePro';
    src: url('font/SourceCodePro-VariableFont_wght.ttf');
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Comfortaa';
}

h2 {
    font-size: 1.25em;
}

p, div {
    font-family: 'Raleway';
}

.header {
    height:120px;
}

h1 a, h2 a {
    color: #000;
    height:120px;
}

.header a {
    text-decoration: none;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header h1 {
    margin-bottom: .2em;
}
  
.header h2 {
    margin-top: .2em;
}

ul {
    list-style-type: circle;
}

li {
    margin: .25em;
}

body {
    width: 100%;
    margin: 0 auto;
    display: block;
    max-width: 1000px;
}

blockquote {
    background-color: #F0F0F0;
    padding: 1em;
    border-radius: .75em;
}

#editor *, code, pre {
    font-family: 'SourceCodePro';
}

.ligature-display-graph {
    width: 400px;
    height: 400px;
}    

pre {
    padding: 1em;
    background-color: #eee;
    border-radius: .75em;
}

.ligature-display pre {
    padding: 1em;
    background-color: white;
}
