@font-face {
    font-family: 'Comfortaa';
    src: url('font/Comfortaa-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Raleway';
    src: url('font/Raleway-VariableFont_wght.ttf');
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Comfortaa';
}

h2 {
    font-size: 1.25em;
}

p, div {
    font-family: 'Raleway';
}

h1 a, h2 a {
    color: #000;
    text-decoration: none;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header h1 {
    margin-bottom: .2em;
}
  
.header h2 {
    margin-top: .2em;
}

ul {
    list-style-type: circle;
}

li {
    margin: .25em;
}

body {
    width: 100%;
    margin: 0 auto;
    display: block;
    max-width: 1000px;
}

blockquote {
    background-color: #F0F0F0;
    padding: 1em;
    border-radius: .75em;
}

#demo {
    display: grid;
	align-items: center;
}

#demo-markup {
    grid-column: 1;
    grid-row: 1
}

#demo-graph {
    width: 600px;
    height: 400px;
    grid-column: 2;
    grid-row: 1;
}

#graph {
    width: 400px;
    height: 400px;
}    
