<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Try out Ligature</title>
  <meta name="description" content="Ligature's website">
  <meta name="author" content="Alex Michael Berry">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/svg+xml" href="/assets/logo.svg">
  <link rel="mask-icon" href="/assets/logo.svg" color="#ffffff">
  <link rel="stylesheet" href="/assets/main.css" />
  <link rel="stylesheet" href="/js/components.css" />
</head>

<body>
  <div>
    <div class="header">
      <a href="/"><img src="/assets/logo.svg" alt="an image of a knot" height="80" width="80"/></a>
      <div>
        <h1 class="title"><a href="/">Try Ligature</a></h1>
      </div>
    </div>
    <div><button id="runButton">Run</button></div> 
    <div id="editor"></div>
    <div id="results"></div>
  </div>
  <script src="/js/components.js"></script>
</body>
</html>
