<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <meta name="description" content="Ligature's website">
  <meta name="author" content="Alex Michael Berry">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/svg+xml" href="/img/logo.svg">
  <link rel="mask-icon" href="/img/logo.svg" color="#ffffff">
</head>

<body>
  <div>
    <div class="header">
      <img src="/img/logo.svg" alt="an image of a knot" height="120" width="120"/>
      <div>
        <h1 class="title">Ligature</h1>
        <h2 class="subtitle">A Libre Knowledge Graph</h2>
      </div>
    </div>
		{{{body}}}
  </div>
</body>
</html>
